@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300&display=swap");
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: aliceblue;
  background-color: rgb(10, 21, 49);
}

h1 {
  font-size: 2rem;
  margin-top: 3rem;
  font-family: "Luckiest Guy", cursive;
  letter-spacing: 0.7rem;
  color: rgb(226, 248, 130);
}

h2 {
  font-size: 1.7rem;
  margin-top: 4%;
}

.gameContainer {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.BoardDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: fit-content;
  margin: auto;
  margin-top: 5%;
}

button {
  border: none;
  font-weight: 500;
  color: aliceblue;
  font-size: 2.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

P {
  font-size: 1.1rem;
  text-align: justify;
  margin: 1rem 9rem 1rem 9rem;
  font-family: "Source Sans Pro", sans-serif;
}

/* TOP ROW */
.BoardDiv div:nth-child(1) button {
  width: 100px;
  height: 100px;
  background-color: rgb(10, 21, 49);
  border-right: 0.4rem solid rgb(227, 240, 171);
  border-bottom: 0.4rem solid rgb(227, 240, 171);
}
.BoardDiv div:nth-child(2) button {
  width: 100px;
  height: 100px;
  background-color: rgb(10, 21, 49);
  border-right: 0.4rem solid rgb(227, 240, 171);
  border-bottom: 0.4rem solid rgb(227, 240, 171);
}
.BoardDiv div:nth-child(3) button {
  width: 100px;
  height: 100px;
  background-color: rgb(10, 21, 49);
  border-bottom: 0.4rem solid rgb(227, 240, 171);
}

/* MIDDLE ROW */
.BoardDiv div:nth-child(4) button {
  width: 100px;
  height: 100px;
  background-color: rgb(10, 21, 49);
  border-right: 0.4rem solid rgb(227, 240, 171);
  margin-top: -2px;
}
.BoardDiv div:nth-child(5) button {
  width: 100px;
  height: 100px;
  background-color: rgb(10, 21, 49);
  margin-top: -2px;
  border-right: 0.4rem solid rgb(227, 240, 171);
}
.BoardDiv div:nth-child(6) button {
  width: 100px;
  height: 100px;
  background-color: rgb(10, 21, 49);
  margin-top: -2px;
}

/* BOTTOM ROW */
.BoardDiv div:nth-child(7) button {
  width: 100px;
  height: 100px;
  background-color: rgb(10, 21, 49);
  border-top: 0.4rem solid rgb(227, 240, 171);
  border-right: 0.4rem solid rgb(227, 240, 171);
  margin-top: -3px;
}
.BoardDiv div:nth-child(8) button {
  width: 100px;
  height: 100px;
  background-color: rgb(10, 21, 49);
  margin-top: -3px;
  border-top: 0.4rem solid rgb(227, 240, 171);
  border-right: 0.4rem solid rgb(227, 240, 171);
}
.BoardDiv div:nth-child(9) button {
  width: 100px;
  height: 100px;
  background-color: rgb(10, 21, 49);
  margin-top: -3px;
  border-top: 0.4rem solid rgb(227, 240, 171);
}
